@import 'styles/_mixins.scss';

.cardCases__recovered,
.cardCases__deaths,
.cardCases__cases {
  padding: 1rem;
  background-color: #ff9800 !important;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include tablet() {
    flex-direction: column;
    padding: 2rem 0;
    margin-bottom: 1rem;
  }
}

.cardCases__recovered {
  background-color: #689f38 !important;
}

.cardCases__deaths {
  background-color: #ff5722 !important;
}

.cardCases__title,
.cardCases__text {
  color: white !important;
  position: relative;
  z-index: 1;
}

.cardCases__text {
  margin-left: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  width: 50%;

  @include tablet() {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
}

.cardCases__title {
  font-size: 300%;
  letter-spacing: -.5vh;
  line-height: 1;
  margin: 0;
  font-weight: 600;

  @include tablet() {
    font-size: 350%;
  }

  @include desktop() {
    font-size: 500%;
  }
}
