@import 'styles/_mixins.scss';

.pageName {
  margin: 0;
  padding-bottom: 5vh;
  padding-top: 5vh;
  font-size: 4vh;
  line-height: 1;
  display: flex;
  flex-direction: column;

  @include tablet() {
    padding-top: 10vh;
    flex-direction: column;
    font-size: 5vh;
  }

  strong {
    font-weight: 600;
  }
}

.pageName__region {
  color: #989898;
  display: block;

  &:before {
    content: '(';

    @include tablet() {
      content: ', '
    }
  }

  &:after {
    content: ')';

    @include tablet() {
      content: ''
    }
  }

  @include tablet() {
    font-size: 50%;
    display: inline;
  }
}

.germanFlag {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 30px;
  height: 100vh;
  /* border-right: 2vh solid #ccc; */
  box-sizing: border-box;
}

.germanFlag__red,
.germanFlag__black,
.germanFlag__yellow {
  background: red;
  display: inline-block;
  width: 33%;
  height: 100%;
}

.germanFlag__black {
  background: black
}

.germanFlag__red {
  background: #f44336
}

.germanFlag__yellow {
  background: #ffeb3b
}

.alert__no_content {
  background: #d32f2f !important;
  padding: 2rem 5rem;
  text-align: center;
  color: white !important;
}

.alert__no_content p {
  margin: 0
}

.configuration {
  text-align: center;
  padding-bottom: 5vh;

  @include tablet() {
    text-align: right;
  }
}

.footer {
  margin-top: 10vh;
  font-size: 1.4vh;
  line-height: 1.6;
  opacity: .5;

  a {
    text-decoration: underline;
  }
}